<% if flash[:danger] %>
    <% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>">
    <%= message %>
    </div>
    <p class="form-msg">Email 「sample@example.com」</p>
    <p class="form-msg">Password 「password」</p>
<% end %>
<% else %>
    <p class="form-msg">こちらは管理人専用ページです。</p>
    <p class="form-msg">ログインすると、「News」「Style」「Product」の投稿機能が使えます。</p>
    <p class="form-msg">Email 「sample@example.com」</p>
    <p class="form-msg">Password 「password」</p>
    <% end %>