<% unless @categories.blank? %>
<ul>
    <% @categories.each do |category| %>
    <li>
        <%= link_to category.name,articles_path(category_id:category.id) %>
    </li>
    <% end %>
</ul>
<% end %>