@charset "UTF-8";

/* 共通部分 */

html{
    font-size: 100%;
}

body{
    font-family: "YuGothic","Yu Gothic Medium","游ゴシック Medium","游ゴシック体","ヒラギノ角ゴ pro W3",sans-serif;
    line-height: 1.7;
    color:#5e4037;
    margin: 0;
}

body.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
}

a{
    text-decoration: none;
}
div.anchor{
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}

img{
    max-width: 100%;
}


/* PAGE_TOP_BTN */

#pageTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 998;
  }
  #pageTop i {
    padding-top: 7px;
  }
  #pageTop a {
    display: block;
    padding: 8px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    background-color: #33691e;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  #pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
  }

  #pageTop:active{
    transform: scale(0.8,0.8);
  }

  /* NEW-BTN */

#new-btn {
    position: fixed;
    bottom: 2%;
    left: 2%;
    z-index: 998;
    transition: .5s ease;
}
#new-btn i {
    padding-top: 7px;
    font-size: 25px;
}
#new-btn a {
    display: block;
    padding: 8px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    background-color: #1DA1F2;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
#new-btn a:hover {
    text-decoration: none;
}

#new-btn:active{
    transform: scale(0.8, 0.8);
}

#new-btn.up{
    bottom: 9%;
}

/* HEADER */

.logo{
    width: 180px;
    margin-top: 14px;
}
.main-nav{
    display: flex;
    font-size:0.875rem;
    margin-top: 50px;
    list-style: none;
}
.main-nav li{
    margin-left: 34px;
    font-weight: bold;
}
.main-nav li a{
    color:#3e2723;
    padding-bottom:3px;
    position: relative;
}
.main-nav li a:before {
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	transition: all 0.3s ease;
	border-bottom: 2px solid #3e2723;
	position: absolute;
	display: block;
}
.main-nav li a:hover:before {
	width: 50%;
	border-bottom: 2px solid #3e2723;
	position: absolute;
}
.main-nav li a:after {
	content: '';
	width: 0;
	right: 50%;
	bottom: 0;
	transition: all 0.3s ease;
	border-bottom: 2px solid #3e2723;
	position: absolute;
	display: block;
}
.main-nav li a:hover:after {
	width: 50%;
	border-bottom: 2px solid #3e2723;
}
.main-nav a:hover{
    color: #fff59d;
}
ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.main-nav > li.menu__single {
    position: relative;
}
li.menu__single ul.menu__second-level {
    position: absolute;
    top: 20px;
    width: 150px;
    background-color:rgba(104,158,57,0.5);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    list-style: none;
    text-align:left ;
}
li.menu__single:hover ul.menu__second-level {
    top: 30px;
    visibility: visible;
    opacity: 1;
}

.menu__second-level li {
    text-align: left;
    padding: 10px 0;
}

.menu__second-level li a:hover {
    color: #fff59d;
}
.m-header-nav{
    display: none;
}
.page-header{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding:0 4%;
}

.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* 見出し */

.page-title{
    color: #3e2723;
    text-align: center;
    font-size: 1.875rem;
    font-weight: normal;
}

.page-title span{
color: #33691e;
}

/* HOME */
#home{
    // background-image: image-url("home/IMG_2929.JPG");
    background-size: cover;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    height: 650px;
    margin-bottom: 45px;
}
.shape{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    top       : 50%;
	left      : 50%;
	transform : translate(-50%, -50%);
}
#home .page-title{
    padding-top: 40px;
    padding-bottom: 40px;
}


/* HOME,TOP-NEWS */

#top-news-container{
    margin-bottom:100px ;
}
#top-news-container .page-title{
    margin: 60px;
}
#top-posts{
    /* overflow: hidden; */
    max-width: 900px;
    display: grid;
    gap: 26px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 4%;
    margin: 0 auto;
}
#top-posts h1{
    font-size: 1rem;
    border-bottom:solid 2px #33691e ;
}
.news-1{
    position: relative;
    padding: 10px;
    background-color: white;
    opacity: 0;
    z-index: 1;
    height: 350px;
    width: 100%;
    transition: all .8s ease;
    transform: translate(90%,75%);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
.news-2{
    padding: 10px;
    background-color: white;
    opacity: 0;
    z-index: 2;
    height: 350px;
    width: 100%;
    transition: all .8s ease;
    transform: translate(0,75%);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
.news-3{
    padding: 10px;
    background-color: white;
    opacity: 0;
    z-index: 3;
    height: 350px;
    width: 100%;
    transition: all .8s ease;
    transform: translate(-90%,75%);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
}
.news-1.active{
    opacity: 1;
    transform: translate(90%,0);
}
.news-2.active{
    opacity: 1;
    transform: translate(0,0);
}
.news-3.active{
    opacity: 1;
    transform: translate(-90%,0);
}
.news-1.active.move{
    transform: translate(0,0);
}
.news-3.active.move{
    transform: translate(0,0);
}
.news-1 img,
.news-2 img,
.news-3 img{
    height: 50%;
    width: 100%;
}
.news-date{
    font-size: 12px;
}
.news-text{
    font-size: 13px;
}
.top-news-btn{
    width: 75px;
    height: 20px;
    font-size: 10px;
    position:fixed;
    right: 6px;
    bottom: 6px;
    padding: 4px 19px;
    border-radius: 25px;
    color: #FFF;
    background-color:rgba(51,105,30,1);
}
.top-news-btn a{
    display: block;
    position: absolute;
    top: 2px;
    left: 12px;
    width: 100%;
    height: 100%;
    display: block;
    color: white;
}
.top-news-btn:hover{
    cursor: pointer;
    background-color:rgba(51,105,30,0.7);
}


/* CONCEPT */

#concept{
    max-width: 1000px;
    margin: 0 auto;
}
#concept p{
    font-size: 0.875rem;
}
.first-text{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    line-height: 250%;
}
.items-container{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom:180px ;
}
.items{
    width:49%;
    margin-bottom: 3rem;
    padding: 1.5rem;
    padding-left: 0;
    margin-left: 1.5rem;
}
.items h1{
    display:flex;
    align-items:center;
    font-size: 1.5rem;
    font-family:"Yu Mincho", "YuMincho";
    font-weight: normal;
}
.items h1:before{
    margin-left:5px;
    border-top:2px solid;content:"  ";
    flex-grow:1;
}
.content-2 h1:before{border: none;flex-grow:0;}
.content-2 h1:after{
    margin-right: 5px;
    border-top:2px solid;content:"  ";
    flex-grow:1;
}
.img-1,
.img-2,
.img-3{
    background-size:cover;
    flex-basis: 48%;
    width:100%;
    height: 450px;
    overflow: hidden;
    position: relative;
}
.img-1 img,
.img-2 img,
.img-3 img{
    width: 100%;
    object-fit: cover;
    opacity: 0;
    position: relative;
    transition:all .8s .3s ease;
    z-index: 0;
}
.img-1:before,
.img-2:before,
.img-3:before{
    /* padding: 1.5rem; */
    background: #3e2723;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transform: translateX(-101%);
    transition:all .8s 0s ease;
    width: 100%;
    z-index: 1;
}
.img-1.active img,
.img-2.active img,
.img-3.active img{
    opacity: 1;
}
.img-1.active:before,
.img-2.active:before,
.img-3.active:before{
    transform: translateX(101%);
    background: #5e4037;
}
.content-1,
.content-2,
.content-3{
    flex-basis: 45%;
    overflow: hidden;
}
.content-2{
    text-align: right;
}
.content-1 h1,
.content-3 h1{
    padding-top:30%;
    padding-bottom: 30%;
    opacity : 0;
    transform : translate(-50px, 0);
    transition:all 2s .5s ease;
}
.content-2 h1{
    padding-top:30%;
    padding-bottom: 35%;
    opacity: 0;
    transform : translate(50px, 0);
    transition:all 2s .5s ease;
}
.content-1 h1.active,
.content-2 h1.active,
.content-3 h1.active{
    transform : translate(0, 0);
    opacity: 1;
}
.content-1 p,
.content-3 p{
    opacity : 0;
    transform : translate(50px, 0);
    transition:all 2s .3s ease;
}
.content-2 p{
    display: inline-block;
    text-align: left;
    /* padding-left: 16%; */
    opacity: 0;
    transform : translate(-50px, 0);
    transition:all 2s .3s ease;
}
.content-1 p.active,
.content-2 p.active,
.content-3 p.active{
    transform : translate(0, 0);
    opacity: 1;
}


/* HOME,STYLE */

#home-style{
    margin-bottom: 150px;
}
#home-style h2{
    margin-bottom: 40px;
}
.grid{
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit,minmax(250px ,1fr));
    margin-bottom: 50px;
}
.item img{
    width:100%;
    height: 350px;
    object-fit: cover;
}


/* MENU */

#menu{
    margin-bottom: 200px;
}
.col{
    max-width: 700px;
    margin: 0 auto;
    font-size: 1,125rem;
    padding: 40px 0;
}
.col dl {
    display: table;
    width: 100%;
    border: solid #e4e4e4;
    border-width: 1px 0;
}
.col dt{
    display: table-cell;
    padding:0.4rem;
}
.col dd{
    text-align: right;
    display: table-cell;
    padding:0.4rem;
}
.col dd:after{
    display: inline-block;
    content: "";
    width: 1em;
    font-size: 0.7em;
}
.col dd.from:after {
    content: "〜";
}
.notes{
    font-size: 0.7rem;
    font-family:"Yu Mincho", "YuMincho";
}


/* STAFF */

#staff{
    margin-bottom: 150px;
}
#staff .page-title{
    margin-bottom: 40px;
}
.staff-contents{
    width:900px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.staff-img{
    position: relative;
    height:350px;
    width: 350px;
    margin-right: 100px;
}
.staff-img img{
    height: 350px;
    width: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: solid;
    border-radius: 50% 50%;
}
.intro{
    height: 350px;
    width: 280px;
}
.intro h1{
    display: inline-block;
    position: relative;
    font-size: 1rem;
    font-weight: normal;
    padding:5px 0px;
}
#staff h1:before{
    content: '';
    display: inline-block;
    position: absolute;
    bottom: 0px; /*下線の上下位置調整*/
    width: 220px; /*下線の幅*/
    height: 2px; /*下線の太さ*/
    background-color: #33691e; /*下線の色*/
}
.intro .staff-name{
    font-size: 1.375rem;
    padding-top:20px;
    padding-bottom: 0px;
}
.intro .staff-en-name{
    padding-top: 0px;
}
.intro p{
    padding-top:15px;
    padding-bottom: 15px;
    font-size: 0.875rem;
}


/* PRODUCT,NEWS */

.pro-news-wrapper{
    display: flex;
    justify-content: center;
    width:900px;
    margin: 0 auto;
    margin-bottom: 100px;
}
#product-part{
text-align: center;
flex-basis: 48%;
border-right:solid 3px #33691e ;
}
#product-part .page-title{
    margin-bottom: 25px;
}

#product-part p{
    padding-bottom:20px;
}
.detail-btn{
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    width: 250px;
    height:50px;
    background-color: #5e4037;
}
.detail-btn a{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 50px;
    color: #ffffff;
}
.detail-btn:hover{
    opacity: 0.6;
    background: #a1887f;
}
#news-part{
flex-basis: 48%;
}
#news-part .page-title{
margin-bottom:50px ;
}
#news-part .posts{
    padding-left: 50px;
    list-style: none;

}
#news-part .posts a{
    color: #3e2723;
}
#news-part .posts a:hover .post-image,
#news-part .posts a:hover .post-meta,
#news-part .posts a:hover .post-title{
    opacity: 0.4;
}

#news-part .post-cont-wrapper{
    margin-bottom: 25px;
    height: 90px;
    display: flex;
}
#news-part .post-image{
    width: 90px;
    height: auto;
}
#news-part .post-image img{
    width: 100%;
    height: 100%;
}

#news-part .post-body{
    margin-left: 40px;
}
#news-part .post-title{
    padding-top:10% ;
    font-size: 1.125rem;
    font-weight: bold;
}

/* ACCESS */

#access{
    margin-bottom: 200px;
}
#access .page-title{
    margin-bottom: 50px;
}
#access dl{
    margin-top: 35px;
    display: flex;
}
#access dt {
    width: 75px;
    display: block;
}
#access dd{
    display: block;
    padding-left: 55px;
}
#access dd span{
    font-size: 0.8125rem;
}
iframe{
    height: 350px;
    width: 100%;
}
#access .contents{
    margin: 0 4%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-box{
flex-basis: 50%;
position: relative;
}
.paypay{
    margin-left: 15%;
    margin-top: 2%;
    display: flex;
    align-items: center;
}
.paypay img{
    width: 20px;
    height: 20px;
}
.paypay span{
    font-size: 0.8125rem;
}
#map{
flex-basis: 45%;
overflow: hidden;
position: relative;
}
#map iframe{
    /* display: block; */
    opacity: 0;
    position: relative;
    transition:all .5s .9s ease;
    z-index: 0;
}
#map:before{
    background: #3e2723;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transform: translateX(-100%);
    transition:all .8s .6s ease;
    width: 100%;
    z-index: 1;
}
#map.active iframe{
    opacity: 1;
}

#map.active:before{
    background-color: #5e4037;
    transform: translateX(100%);
}
#for-mobile-map-btn{
    display:none;
}

//CALENDER

#calendar-mobile{

    display: none;
}
.calender-wrapper{
    margin: 0% 4%;
    margin-top: 15px;
}
.tabs{
    width:45%;
}
#calendar{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 4%;
}
.fc-state-default {
    text-shadow: 0 0px 0px !important;
    box-shadow: 0 0px 0 !important;
}
.fc-icon {
    font-family: "YuGothic","Yu Gothic Medium","游ゴシック Medium","游ゴシック体","ヒラギノ角ゴ pro W3",sans-serif;
}
.fc .fc-button-group > :first-child {
    margin-right: 5px;
}
.fc-prev-button,
.fc-next-button{
    color: white !important;
    background: #33691e !important;
}
.fc-today-button {
    color: #FFF;
    background: #5e4037;
}
.fc-state-default.fc-corner-left {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.fc-state-default.fc-corner-right {
    border-top-right-radius:  0px !important;
    border-bottom-right-radius:  0px !important;
}
.fc-unthemed th{
    color: #FFF;
    background: #33691e;
}
.calender-text{
    position: absolute;
    bottom: -2%;
    font-size: 0.8125rem;
}
.calender-text .brown {
    padding: 2px 8px;
    background: #3e2723;
    opacity: .3;
    border-radius: 2px;
}
.calender-text .blue {
    padding: 2px 8px;
    background: #3a87ad;
    border-radius: 2px;
}

/* HOME-CHARITY */

#home-charity{
    font-size:1.125rem;
    text-align: center;
    margin-bottom: 200px;
}
#home-charity .page-title{
    margin-bottom: 60px;
}

#home-charity .images{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#home-charity .contents{
    max-width: 900px;
    margin: 0 auto;
}
.images{
    margin-top: 30px;
    margin-bottom: 30px;
}
.ratio-logo{
    width: 320px;
    height:120px;
    margin-bottom: 15px;
}
.cross{
    width: 50px;
    height: 50px;
}
.donation-pic{
    width: 320px;
    height:120px;
}

#home-charity .detail-btn{
    margin-top:30px;
    margin-bottom: 30px;
}

/* FOOTER */

footer{
    color: #ffffff;
    background-color: #3e2723;
}
footer .contents{
    display: flex;
    justify-content: flex-end;
}
.shop-info{
    margin-right: 5%;
}
.line-officail{
    margin-right: 5%;
}
footer h1{
    opacity: 0.6;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 15%;
    padding-bottom: 5px;
    border-bottom: dotted 2px;
}
footer p{
    opacity: 0.6;
    margin-top: 20px;
    font-size: 1rem;
}
.copyright{
    padding: 10px;
}
.copyright p{
    margin-top: 0px;
}
footer span{
    // font-family:"Yu Mincho", "YuMincho";
    font-size: 0.8125rem;
}
.line-btn {
    position: relative;
    opacity: 0.9;
    display: inline-block;
    width: 220px;
    height: 50px;
    font-size: 1.125rem;
    background: #00b900;
    border-radius: 5px;
    margin-top: 25%;
    padding: 10px 36px;
    text-align: center;
    z-index: 1;
}
.line-btn:hover{
    opacity: 1;
}
.line-btn a{
    line-height: 50px;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

//Pagenation
.pagination{
    list-style: none;
    display: flex;
    text-align: center;
    margin-bottom: 40px;
}

.pagination a{
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.pagination li{
    background-color: #a1887f;
    padding: 12px 0px;
}

.pagination li.active{
    font-style: normal;
    color: white;
    background: #3e2723;
    font-family: sans-serif;
}

.pagination li:hover{
    cursor: pointer;
}

li.previous_page.disabled,
li.next_page.disabled {
    display: none;

}

li.previous_page,
li.next_page{
    background-color: #33691e;
}
li.previous_page a,
li.next_page a{
    color: white;
}
@media screen and (min-width: 1100px) {

    #top-posts dd {
        margin-left: 120px;
    }
    .items{
        width:49%;
        margin-bottom: 50px;
        padding: 1.5rem;
        padding-left: 0;
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 959px) {

    /* HEADER */

    .p-header{
        display: block;
    }
    .logo {
        width: 150px;
        margin-top: 25px;
    }
    .main-nav li {
        margin-left: 28px;
    }

    /* HOME-TOP-NEWS */

    #top-posts {
        font-size: 0.875rem;
    }
    #top-posts h1 {
        font-size: 0.875rem;
    }
    .news-text {
        font-size: 12px;
    }

    /* CONCEPT */

    #concept{
        max-width: 720px;
    }
    #concept p{
        font-size: 12px;
    }
    .items-container{
        margin-bottom: 150px;
    }
    .img-1 img,
    .img-2 img,
    .img-3 img{
        height: 100%;
    }
    .items h1{
        font-size: 1.125rem;
    }
    .colums-1{
        position: relative;
    }
    .items{
        height: 350px;
        margin-bottom: 50px;
        padding: 1.5rem;
        padding-left: 0;
        margin-left: 1.5rem;
    }

    /* MENU */

    .col{
        padding: 40px 150px;
    }

    /* STAFF */

    .staff-contents{
        width:750px;

    }
    #news-part {
        flex-basis: 50%;
    }
    .staff-img{
        margin-right: 75px;
    }

    /* NEWS,PRODUCT */
    .pro-news-wrapper {
        width: 680px;
    }
    #product-part {
        padding-right: 35px;
        flex-basis: 50%;
    }
    #news-part .posts {
        padding-left: 40px;
    }
    #news-part .post-body {
        margin-left: 15px;
    }
    #news-part .post-title {
        font-size: 1rem;
    }

    /* ACCESS */

    #access dd span{
        font-size: 12px;
    }

    .images{
        margin: 30px 5%;
    }

    .ratio-logo{
        width: 270px;
        height:100px;
        margin-bottom: 15px;
    }
    .cross{
        width: 40px;
        height: 40px;
    }
    .donation-pic{
        width: 270px;
        height:100px;
    }
    #calendar {
        padding: 0%;
        padding-bottom: 2%;
    }
    .tabs{
        width:48%;
    }
}

@media screen and (max-width: 559px) {
    .p-header{
        display: none;
    }
    .logo {
        width: 150px;
        margin-top: 14px;
    }
    #home {
        background-position: 8% 100%;
    }

    /* HEADER */
    .m-header-nav{
        display: block;
    }
    .main-nav{
        font-size: 20px;
        margin-top:20px ;
        display: block;
    }
    .main-nav li a:before {
        transition: all 0.3s ease;
        border-bottom: none;
    }
    .main-nav li a:hover:before {
        border-bottom: none;
    }
    .main-nav li a:after {
        border-bottom: none;
    }
    .main-nav li a:hover:after {
        border-bottom: none;
    }
    .main-nav a:hover{
        color: white;
    }
    .page-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        transition: .5s;
        background-color:none;
        padding-top:15px ;
        padding-bottom:15px ;
    }
    .page-header.hide{
        transform: translateY(-100%);
    }
    .menu-trigger {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
    }
    .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #3e2723;
    /* background-color: #66cc33; */
    transition: all .5s .2s;
    }
    .menu-trigger.active span {
    background-color: #fff;
    /* background-color: #66cc33; */
    }
    .menu-trigger span:nth-of-type(1) {
    top: 0;
    }
    .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
    }
    .menu-trigger span:nth-of-type(2) {
    top: 12px;
    }
    .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
    }
    .menu-trigger span:nth-of-type(3) {
    bottom: 0;
    }
    .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
    }
    nav {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        display: none;
        position: fixed;
        padding-top:80px ;
        top: 0px;
        left: 0;
        z-index: 4;
    }
    .main-nav ul {
    padding: 20px 0;
    }
    .main-nav li {
        margin-left:0;
        padding: 10px 0;
    }
    .main-nav li a{
        color:#fff;
    }
    ul.menu__second-level {
        visibility: initial;
        opacity: initial;
        z-index:7 ;
    }
    .main-nav > li.menu__single {
        position: static;
    }
    li.menu__single ul.menu__second-level {
        position: static;
        width: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        transition:initial;
    }
    li.menu__single:hover ul.menu__second-level {
        top: 0px;
        opacity: 1;
    }
    .menu__second-level li{
        text-align: center;
        padding: 10px 0;
    }
    .menu__second-level li a:hover {
        color: #fff59d;
    }

    /* HOME-TOP-NEWS */

    .page-title{
        color: #3e2723;
        font-size: 1.8rem;
    }
    #top-posts {
        width: 100%;
        font-size: 0.875rem;
        padding-left: 0%;
        padding-right: 0%;
    }
    #top-posts dl{
        padding-left: 4%;
    }
    #top-posts dd {
        margin-left: 28%;
    }
    .items-container{
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    .items h1{
        font-size: 1.125rem;
    }
    #top-posts{
        justify-content: center;
        width: 250px;
        grid-template-columns: 1fr;
    }
    #top-news-container .page-title{
        transform: translate(0,0);
        opacity: 1;
    }
    .news-1 {
        width: 100%;
        opacity: 1;
        transform: translate(0,0);
        display: inline;
    }
    .news-2{
        width: 100%;
        opacity: 1;
        transform: translate(0,0);
        display: inline;
    }
    .news-3{
        width: 100%;
        opacity: 1;
        transform: translate(0,0);
        display: inline;
    }

    /* CONCEPT */

    #concept p {
        font-size: 12px;
    }
    .content-2{
        text-align: left;
    }
    .content-2 h1:before{
        margin-left:5px;
        border-top:2px solid;content:"  ";
        flex-grow:1;
    }
    .content-2 h1:after{
        border: none;
        flex-grow:0;
    }
    .content-1 h1,
    .content-2 h1,
    .content-3 h1 {
        padding-top: 0%;
        padding-bottom: 20%;
    }
    .content-2 p{
        padding-left: 0;
    }
    .items {
        width: 100%;
        height: initial;
        margin-bottom: 25px;
        margin-left: 0px;
        padding: 1.5rem;
    }
    .img-1 img,
    .img-2 img,
    .img-3 img{
        width: 100%;
        height: 100%;
    }
    .img-1,
    .img-2,
    .img-3{
        padding:0;
        height:300px ;
    }
    .items.img-1{
        order:1;
        flex-basis: initial;
    }
    .items.img-2{
        order:3;
        flex-basis: initial;
    }
    .items.img-3{
        order:5;
        flex-basis: initial;
    }
    .items.content-1{
        order:2;
        flex-basis: initial;
    }
    .items.content-2{
        order:4;
        flex-basis: initial;
    }
    .items.content-3{
        order: 6;
        flex-basis: initial;
    }
    .content-1 h1,
    .content-2 h1,
    .content-3 h1{
        transform : translate(-50px, 0);
        transition:all 2s 0s ease;
    }

    .content-1 p,
    .content-2 p,
    .content-3 p{
    transform : translate(50px, 0);
    transition:all 2s .2s ease;
    }

    /* MENU */

    .col{
        padding: 6.25%;
    }

    /* GRID */

    .grid {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .item img {
        height: 200px;
    }

    /* STAFF */

    #staff {
        margin-bottom: 60px;
    }
    .staff-contents{
        flex-direction: column;
        width: 100%;
    }
    .staff-img {
        margin: 0 auto;
        height: 300px;
        width: 300px;
    }
    .staff-img img {
        height: 250px;
        width: 250px;
    }
    .intro {
        text-align: center;
        padding: 25px;
        padding-left: 10%;
        height: 100%;
        width: 100%;
    }
    .intro h1 {
        text-align: center;
        display: block;
        font-size: 1rem;
        padding-bottom:10px;
    }
    #staff h1:before {
        left:50%;
        width: 240px;
        bottom: 6px;
        -moz-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translate(-50%); /*位置調整*/
    }
    .intro .staff-name {
        text-align: center;
        font-size: 1.125rem;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-bottom: 0px;
    }
    .intro p {
        padding-top: 15px;
        padding-bottom: 40px;
        font-size: 0.875rem;
    }
    .intro .staff-en-name{
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .pro-news-wrapper{
        flex-direction: column;
        width: 100%;
    }
    #product-part {
        padding-right: 0px;
        border-right:none;
        margin-bottom: 50px;
    }
    #news-part .posts {
         padding-left: 13%;
    }

    /* ACCSESS */

    #access .contents{
        display: block;
    }
    .text-box{
    width: 100%;
    }
    #access dt{
        width: 92px;
        font-size: 14px;
    }
    #access dd{
        width: 100%;
        font-size: 14px;
    }
    #map{
    display: none;
    }
    #for-mobile-map-btn{
        position: relative;
        text-align: center;
        display:block;
        margin:20px auto ;
        padding: 5px 15px;
        width:220px;
        height: 50px;
        background-color: #5e4037;
    }
    #for-mobile-map-btn a{
        position: absolute;
        top:5px;
        left: 0;
        width: 100%;
        height: 100%;
        color: #ffffff;
        line-height: 38px;
    }
    .calender-wrapper{
        display:none ;
    }

    #calendar-mobile{
        margin-top: 50px;
        position: relative;
        padding: 1%;
        display: block;
    }

    .calender-text {
        position: absolute;
        bottom: -12%;
        font-size: 11px;
    }
    /* HOME-CHARITY */

    #home-charity{
        font-size: 0.875rem;
    }
    .images{
        flex-direction: column;
    }
    .ratio-logo{

        margin-bottom: 30px;
    }
    .cross{
        margin-bottom: 30px;
    }
    .donation-pic{
        margin-bottom: 30px;
    }

    /* FOOTER */

    footer .contents{
        flex-direction: column;
    }
    .shop-info{
        padding-right: 60px;
        margin:0 20px;
    }
    .line-officail{
        padding-right: 60px;
        margin:0 20px;
    }
    .line-btn {
        margin-top: 10%;
    }

    .line-btn {
        opacity: 1;
    }

    //pagenation
    .pagination li {
        padding: 10px 0px;
    }

    .pagination a {
        padding: 18px 18px;
    }

}

/* effect */

.effect-fade-up {
    opacity : 0;
    transform : translate(0, 55px);
    transition : all .7s;
}

.effect-fade-up.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}

.effect-fade-down {
    opacity : 0;
    transform : translate(0, -40px);
    transition : all .7s;
}

.effect-fade-down.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}

.home-img-fade-up {
    opacity: 0;
    transform : translate(0, 40px);
    transition : all .7s;
}

.home-img-fade-up.effect-scroll{
    opacity : 1;
    transform : translate(0, 0);
}