@charset "UTF-8";

/* 共通部分 */

html{
    font-size: 100%;
}

body{
    font-family: "YuGothic","Yu Gothic Medium","游ゴシック Medium","游ゴシック体","ヒラギノ角ゴ pro W3",sans-serif;
    line-height: 1.7;
    color:#5e4037;
    margin: 0;
}

body.fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
}

a{
    text-decoration: none;
}
div.anchor{
    display: block;
    padding-top: 80px;
    margin-top: -80px;
}

img{
    max-width: 100%;
}
.grid{
    display: grid;
    gap: 26px;
    grid-template-columns: repeat(auto-fit,minmax(250px ,1fr));
    margin-bottom: 50px;
}

/* PAGE_TOP_BTN */

#pageTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 998;
  }
  #pageTop i {
    padding-top: 7px;
  }
  #pageTop a {
    display: block;
    padding: 8px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    background-color: #33691e;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
  }
  #pageTop a:hover {
    text-decoration: none;
    opacity: 0.7;
  }

  #pageTop:active{
    transform: scale(0.8,0.8);
  }

  /* NEW-BTN */

#new-btn {
    position: fixed;
    bottom: 2%;
    left: 2%;
    z-index: 998;
    transition: .5s ease;
}
#new-btn i {
    padding-top: 7px;
    font-size: 25px;
}
#new-btn a {
    display: block;
    padding: 8px;
    border-radius: 30px;
    width: 50px;
    height: 50px;
    background-color: #1DA1F2;
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
}
#new-btn a:hover {
    text-decoration: none;
}

#new-btn:active{
    transform: scale(0.8, 0.8);
}

#new-btn.up{
    bottom: 9%;
}

/* HEADER */

.logo{
    width: 180px;
    margin-top: 14px;
}
.main-nav{
    display: flex;
    font-size:0.875rem;
    margin-top: 50px;
    list-style: none;
}
.main-nav li{
    margin-left: 34px;
    font-weight: bold;
}
.main-nav li a{
    color:#3e2723;
    padding-bottom:3px;
    position: relative;
}
.main-nav li a:before {
	content: '';
	width: 0;
	left: 50%;
	bottom: 0;
	transition: all 0.3s ease;
	border-bottom: 2px solid #3e2723;
	position: absolute;
	display: block;
}
.main-nav li a:hover:before {
	width: 50%;
	border-bottom: 2px solid #3e2723;
	position: absolute;
}
.main-nav li a:after {
	content: '';
	width: 0;
	right: 50%;
	bottom: 0;
	transition: all 0.3s ease;
	border-bottom: 2px solid #3e2723;
	position: absolute;
	display: block;
}
.main-nav li a:hover:after {
	width: 50%;
	border-bottom: 2px solid #3e2723;
}
.main-nav a:hover{
    color: #fff59d;
}
ul.menu__second-level {
    visibility: hidden;
    opacity: 0;
    z-index: 1;
}
.main-nav > li.menu__single {
    position: relative;
}
li.menu__single ul.menu__second-level {
    position: absolute;
    top: 20px;
    width: 150px;
    background-color:rgba(104,158,57,0.5);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    list-style: none;
    text-align:left ;
}
li.menu__single:hover ul.menu__second-level {
    top: 30px;
    visibility: visible;
    opacity: 1;
}

.menu__second-level li {
    text-align: left;
    padding: 10px 0;
}

.menu__second-level li a:hover {
    color: #fff59d;
}
.m-header-nav{
    display: none;
}
.page-header{
    display: flex;
    justify-content: space-between;
}

.wrapper{
    max-width: 1100px;
    margin: 0 auto;
    padding:0 4%;
}

.big-bg{
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

/* 見出し */

.page-title{
    color: #3e2723;
    text-align: center;
    font-size: 1.875rem;
    font-weight: normal;
}

.page-title span{
color: #33691e;
}

/* FOOTER */

footer{
    color: #ffffff;
    background-color: #3e2723;
}
footer .contents{
    display: flex;
    justify-content: flex-end;
}
.shop-info{
    margin-right: 5%;
}
.line-officail{
    margin-right: 5%;
}
footer h1{
    opacity: 0.6;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 15%;
    padding-bottom: 5px;
    border-bottom: dotted 2px;
}
footer p{
    opacity: 0.6;
    margin-top: 20px;
    font-size: 1rem;
}
.copyright{
    padding: 10px;
}
.copyright p{
    margin-top: 0px;
}
footer span{
    // font-family:"Yu Mincho", "YuMincho";
    font-size: 0.8125rem;
}
.line-btn {
    position: relative;
    opacity: 0.9;
    display: inline-block;
    width: 220px;
    height: 50px;
    font-size: 1.125rem;
    background: #00b900;
    border-radius: 5px;
    margin-top: 25%;
    padding: 10px 36px;
    text-align: center;
    z-index: 1;
}
.line-btn:hover{
    opacity: 1;
}
.line-btn a{
    line-height: 50px;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
}

//Pagenation
.pagination{
    list-style: none;
    display: flex;
    text-align: center;
    margin-bottom: 40px;
}

.pagination a{
    color: white;
    padding: 15px 25px;
    text-decoration: none;
}

.pagination li{
    background-color: #a1887f;
    padding: 12px 0px;
}

.pagination li.active{
    font-style: normal;
    color: white;
    background: #3e2723;
    font-family: sans-serif;
}

.pagination li:hover{
    cursor: pointer;
}

li.previous_page.disabled,
li.next_page.disabled {
    display: none;

}

li.previous_page,
li.next_page{
    background-color: #33691e;
}
li.previous_page a,
li.next_page a{
    color: white;
}
@media screen and (min-width: 1100px) {

    #top-posts dd {
        margin-left: 120px;
    }
    .items{
        width:49%;
        margin-bottom: 50px;
        padding: 1.5rem;
        padding-left: 0;
        margin-left: 1.5rem;
    }
}

@media screen and (max-width: 959px) {

    /* HEADER */

    .p-header{
        display: block;
    }
    .logo {
        width: 150px;
        margin-top: 25px;
    }
    .main-nav li {
        margin-left: 28px;
    }
}

@media screen and (max-width: 559px) {
    .p-header{
        display: none;
    }
    .logo {
        width: 150px;
        margin-top: 14px;
    }
    #home-mobile{
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 650px;
        margin-bottom: 45px;
    }

    /* HEADER */
    .m-header-nav{
        display: block;
    }
    .main-nav{
        font-size: 20px;
        margin-top:20px ;
        display: block;
    }
    .main-nav li a:before {
        transition: all 0.3s ease;
        border-bottom: none;
    }
    .main-nav li a:hover:before {
        border-bottom: none;
    }
    .main-nav li a:after {
        border-bottom: none;
    }
    .main-nav li a:hover:after {
        border-bottom: none;
    }
    .main-nav a:hover{
        color: white;
    }
    .page-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 80px;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        transition: .5s;
        background-color:none;
        padding-top:15px ;
        padding-bottom:15px ;
    }
    .page-header.hide{
        transform: translateY(-100%);
    }
    .menu-trigger {
    display: inline-block;
    position: relative;
    width: 36px;
    height: 28px;
    vertical-align: middle;
    cursor: pointer;
    }
    .menu-trigger span {
    display: inline-block;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #3e2723;
    /* background-color: #66cc33; */
    transition: all .5s .2s;
    }
    .menu-trigger.active span {
    background-color: #fff;
    /* background-color: #66cc33; */
    }
    .menu-trigger span:nth-of-type(1) {
    top: 0;
    }
    .menu-trigger.active span:nth-of-type(1) {
    transform: translateY(12px) rotate(-45deg);
    }
    .menu-trigger span:nth-of-type(2) {
    top: 12px;
    }
    .menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
    }
    .menu-trigger span:nth-of-type(3) {
    bottom: 0;
    }
    .menu-trigger.active span:nth-of-type(3) {
    transform: translateY(-12px) rotate(45deg);
    }
    nav {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        text-align: center;
        display: none;
        position: fixed;
        padding-top:80px ;
        top: 0px;
        left: 0;
        z-index: 4;
    }
    .main-nav ul {
    padding: 20px 0;
    }
    .main-nav li {
        margin-left:0;
        padding: 10px 0;
    }
    .main-nav li a{
        color:#fff;
    }
    ul.menu__second-level {
        visibility: initial;
        opacity: initial;
        z-index:7 ;
    }
    .main-nav > li.menu__single {
        position: static;
    }
    li.menu__single ul.menu__second-level {
        position: static;
        width: 100%;
        display: none;
        background-color: rgba(0, 0, 0, 0.5);
        transition:initial;
    }
    li.menu__single:hover ul.menu__second-level {
        top: 0px;
        opacity: 1;
    }
    .menu__second-level li{
        text-align: center;
        padding: 10px 0;
    }
    .menu__second-level li a:hover {
        color: #fff59d;
    }

    /* FOOTER */

    footer .contents{
        flex-direction: column;
    }
    .shop-info{
        padding-right: 60px;
        margin:0 20px;
    }
    .line-officail{
        padding-right: 60px;
        margin:0 20px;
    }
    .line-btn {
        margin-top: 10%;
    }

    .line-btn {
        opacity: 1;
    }

    //pagenation
    .pagination li {
        padding: 10px 0px;
    }

    .pagination a {
        padding: 18px 18px;
    }

}

/* effect */

.effect-fade-up {
    opacity : 0;
    transform : translate(0, 55px);
    transition : all .7s;
}

.effect-fade-up.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}

.effect-fade-down {
    opacity : 0;
    transform : translate(0, -40px);
    transition : all .7s;
}

.effect-fade-down.effect-scroll {
    opacity : 1;
    transform : translate(0, 0);
}

.home-img-fade-up {
    opacity: 0;
    transform : translate(0, 40px);
    transition : all .7s;
}

.home-img-fade-up.effect-scroll{
    opacity : 1;
    transform : translate(0, 0);
}