<% if logged_in? %>
<div class="edit-icons">
    <%= link_to edit_product_path(object),remote: true do%>
    <i class="fa fa-edit"></i>
    <% end %>
    <%= link_to object, method: :delete, data:{confirm:"You sure?"} do %>
    <i class="fa fa-trash"></i>
    <% end %>
</div>
<% end %>


