<div id="access" class="anchor">
    <div class="wrapper">
        <h2 class="page-title effect-fade-down"><span>-</span>Access<span>-</span></h2>
    </div><!--/.wrapper-->
    <div class="contents">
        <div class="textbox effect-fade-up">
            <dl>
                <dt>ADDRESS</dt>
                <dd>〒910-0001<br>
                    福井県福井市大願寺2丁目6-5
                </dd>
            </dl>
            <dl>
                <dt>TEL</dt>
                <dd>0776-21-6343<br>
                    <span>※完全予約制です。お気軽にお電話ください。</span>
                </dd>
            </dl>
            <dl>
                <dt>OPEN</dt>
                <dd>9:00~18:00<br>
                    <span>木・金曜日はナイター実施中</span>
                </dd>
            </dl>
            <dl>
                <dt>CLOSE</dt>
                <dd>月曜日・第1・5日曜日</dd>
            </dl>
            <div class="paypay">
            <%= image_tag 'home/paypay.png'%>　<span>※PayPayご利用可</span>
            </div>

        </div>
        <div id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3224.4368475345987!2d136.22765161426193!3d36.08283771545091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x5ff8bfb34d1756dd%3A0xf703423928907209!2z44CSOTEwLTAwMDEg56aP5LqV55yM56aP5LqV5biC5aSn6aGY5a-677yS5LiB55uu77yW4oiS77yV!5e0!3m2!1sja!2sjp!4v1572770187876!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div id="for-mobile-map-btn" class="effect-fade-up">
            <a href="https://goo.gl/maps/MFVP8TRzf6rDs9xG6">
                View Map
            </a>
        </div>
    </div>
    <div class="calender-wrapper effect-fade-up">
        <div id="calendar">
            <div class="tabs"></div>
            <div class="tabs"></div>
            <div class="calender-text">※ <span class="brown"></span>はお休み、<span class="blue"></span>はご予約です。予定は予告なく変更される場合がございます。</div>
        </div>
    </div>
    <div id="calendar-mobile" class="effect-fade-up">
    <div class="calender-text">※ <span class="brown"></span>はお休み、<span class="blue"></span>はご予約です。予定は予告なく変更される場合がございます。</div>
    </div>
</div><!--access-->