<div id="concept"  class="anchor">
    <div class="wrapper">
            <h2 class="page-title effect-fade-up"><span>-</span> Concept <span>-</span></h2>
    </div><!--/.wrapper-->
    <div class="first-text effect-fade-down">
    <p>忙しい日常を離れた　くつろぎの時間を、、、</p>
    <p>楽しい会話が弾みます</p>
    </div>
    <div class="items-container">
            <div class="items img-1"><%= image_tag 'home/concept1.png'%></div>
            <div class="items content-1">
                <h1>「人生の節目」に、</h1>
            <p>そっと寄り添えるような<br>
                    <br>
                温かみのあるサロン作りを心掛けております。
                </p>
            </div>
            <div class="items content-2">
                <h1 >&nbsp;ヘアーだけでなく、</h1>
                <p>『アレンジ』『メイク』『着付け』なども<br>
                    <br>
                    行っておりますのでお気軽にお尋ねください。
                </p>
            </div>
            <div class="items img-2"><%= image_tag 'home/concept2.png'%></div>
            <div class="items img-3"><%= image_tag 'home/concept3.png'%></div>
            <div class="items content-3">
                <h1>&nbsp;お一人おひとりと、</h1>
                <p>『完全予約制』ですので<br>
                    <br>
                    気兼ねのない時間を過ごせることをお約束します。<br>
                    <br>
                    ぜひratio美容室にお越しくださいませ、、、
                </p>
            </div>
    </div><!--item-container-->
</div><!--concept-->