<div id="home-charity">
    <div class="wrapper">
        <h2 class="page-title effect-fade-down"><span>-</span>Charity<span>-</span></h2>
    </div><!--/.wrapper-->
    <div class="contents effect-fade-up">
        <div class="text"><p>ratio美容室は</div>
        <div class="images">
            <%= image_tag 'home/ratio_logo.png', class: 'ratio-logo'%>
            <%= image_tag 'home/cross.png', class: 'cross'%>
            <%= image_tag 'home/hair_donation.png', class: 'donation-pic'%>

        </div><!--images-->
        <div class="text">
            <p>Japan Hair Donation & Charity(ジャーダック)を通じた</p>
            <p>社会貢献に協力しております。</p>
        </div><!--text-->
        <div class="detail-btn"><a href="charity.html">詳細はこちら</a></div>
    </div><!--contents-->
</div><!--charity-->