<div id="menu" class="anchor">
    <div class="wrapper">
        <h2 class="page-title effect-fade-down"><span>-</span>Menu<span>-</span></h2>
    </div><!--/.wrapper-->
    <div class="col effect-fade-up">
        <dl>
            <dt>Cut</dt>
            <dd>¥3300</dd>
        </dl>
        <dl>
            <dt>Color</dt>
            <dd class="from">¥4000</dd>
        </dl>
        <dl>
            <dt>Perm</dt>
            <dd class="from">¥3000</dd>
        </dl>
        <dl>
            <dt class="from">Straight Perm</dt>
            <dd>¥4500</dd>
        </dl>
        <dl>
            <dt>Shampoo</dt>
            <dd class="from">¥800</dd>
        </dl>
        <dl>
            <dt>Carbonic Shampoo</dt>
            <dd>¥500</dd>
        </dl>
        <dl>
            <dt>Treatment</dt>
            <dd class="from">¥2500</dd>
        </dl>
        <dl>
            <dt>Hair Up</dt>
            <dd class="from">¥4000</dd>
        </dl>
        <dl>
            <dt>Make</dt>
            <dd class="from">¥2000</dd>
        </dl>
        <dl>
            <dt>Dressing(着付け)</dt>
            <dd class="from">¥5000</dd>
        </dl>
        <div class="notes">
            <p>・表示価格は全て税込です。</p>
            <p>・詳細などお問い合わせはお電話にてご確認ください。</p>
        </div>
    </div><!--col-->
</div><!--menu-->