<div id="staff" class="anchor">
    <div class="wrapper">
        <h2 class="page-title effect-fade-down"><span>-</span>Staff<span>-</span></h2>
    </div><!--/.wrapper-->
    <div class="staff-contents">
        <div class="staff-img effect-fade-up"><%= image_tag 'home/staff_sample.jpg'%></div>
        <div class="intro effect-fade-up">
            <h1>owner/stylist</h1>
            <p class="staff-name">岩田　由美</p>
            <p class="staff-en-name">[Yumi Iwata]</p>
            <p>茨城県水戸市出身。<br>
            <br>
            東京マックス美容学校卒業後、<br>
            都内美容室でキャリアをスタート。<br>
            <br>
            平成2年に福井市へ転入。<br>
            市内美容室ではチーフを務める。<br>
            <br>
            平成13年にratio美容室を開業し独立。
            </p>
        </div>
    </div>
</div><!--staff-->