<footer>
    <div class="contents">
        <div class="shop-info">
            <h1>Shop Info</h1>
            <p>
                〒910-0001<br>
                福井県福井市大願寺2丁目6−5<br>
                <br>
                TEL 0776-21-6343<br>
                <br>
                OPEN 9:00~1800<br>
                <br>
                CLOSE 毎週月曜日・第1・5日曜日
            </p>
        </div>
        <div class="line-officail">
            <h1>LINE official account</h1>
            <div class="line-btn"><a href="#">友達追加</a></div>
            <p><span>(サービスや商品の情報を発信します。)</span></p>
        </div>
    </div>
    <div class="copyright">
        <p><small>&copy; 2019 ratio美容室</small></p>
        <p><small>Designed By Ryo Iwata</small></p>
    </div>
</footer><!--footer-->