<footer>
    <div class="contents">
        <div class="shop-info">
            <h1>Shop Info</h1>
            <p>
                〒○○-○○○○<br>
                ○○県××市△△町123−456<br>
                <br>
                TEL ××××-××-××××<br>
                <br>
                OPEN 9:00~1800<br>
            </p>
        </div>
        <div class="line-officail">
            <h1>SNS official account</h1>
            <div class="line-btn"><a href="#">Add Account</a></div>
            <p><span>(サービスや商品の情報を発信します。)</span></p>
        </div>
    </div>
    <div class="copyright">
        <p><small>&copy; 2019 sample美容室</small></p>
        <p><small>Designed By Ryo10Leo</small></p>
    </div>
</footer><!--footer-->