<header class="page-header wrapper">
    <h1>
        <%= image_tag 'home/sample-logo.png' ,class: 'logo' %>
    </h1>
    <div class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
    </div>
</header><!--page-header wrapper-->