<header class="page-header wrapper">
    <h1>
        <%= link_to root_path do %>
        <%= image_tag 'home/ratio_logo.png' ,class: 'logo' %>
        <% end %>
    </h1>
    <div class="menu-trigger" href="#">
            <span></span>
            <span></span>
            <span></span>
    </div>
</header><!--page-header wrapper-->